@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Share+Tech+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "monospace", "IBM Plex Mono";
  line-height: normal !important;
}

body {
  background-color: #2f3e46;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

div > * {
  /* border: 1px solid white; */
}

.links {
  text-decoration: none;
  color: #fff;
  font-family: "Space Mono";
  font-size: 18px;
  transition: all 0.2s ease;
}

.links:hover {
  color: #cad2c5;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content {
  /* border: 1px solid black; */
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content > div {
  max-width: 568px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: end;
}

.title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Space Mono";
  color: #cad2c5;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  font-family: "Share Tech Mono";
  color: #84a98c;
  margin: 0;
}

.meta {
  display: flex;
}

.dot-icon {
  color: #84a98c;
  width: auto !important;
  height: auto !important;
  vertical-align: middle;
}

.text {
  text-align: justify;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  padding-top: 4px;
  margin: 0;
}
