.nav {
  justify-content: space-between;
}

#search-container {
  display: flex;
  margin-top: 18px;
  gap: 4px;
}

#search-input {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #354f52;
  font-size: 16px;
  color: #fff;
  font-family: "Space Mono";
}

#search-input:focus {
  outline: none;
  border-color: #52796f;
}

#clear-button {
  background: none;
  font-size: 12px !important;
}

#clear-button:focus {
  outline: none;
}
