.nav {
  justify-content: space-between;
}

p {
  max-width: 568px !important;
  margin: 0 auto !important;
  width: 100% !important;
}

@media (max-width: 640px) {
  p {
    max-width: calc(100% - 32px) !important;
    margin: 0 auto;
  }
}
